<app-page-header [title]="'Employee'"></app-page-header>

<form id="employeeDetailsForm" #employeeDetailsForm="ngForm">
  <div class="box-info">
    <h3 class="box-header">Personal information</h3>
    <section>
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input
          type="text"
          [readonly]="!isAdmin"
          matInput
          [(ngModel)]="employee.person.firstName"
          name="firstName"
        />
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="outline">
        <mat-label>Second name</mat-label>
        <input
          type="text"
          matInput
          [readonly]="!isAdmin"
          [(ngModel)]="employee.person.secondName"
          name="secondName"
        />
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="outline">
        <mat-label>Patronymic</mat-label>
        <input
          type="text"
          [readonly]="!isAdmin"
          matInput
          [(ngModel)]="employee.person.patronymic"
          name="patronymic"
        />
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="outline">
        <mat-label>Birth</mat-label>
        <input
          type="date"
          matInput
          [readonly]="!isAdmin"
          [(ngModel)]="employee.person.birth"
          name="birth"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input
          type="text"
          matInput
          [readonly]="!isAdmin"
          [(ngModel)]="employee.person.address"
          name="address"
        />
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input
          type="text"
          matInput
          [readonly]="!isAdmin"
          [(ngModel)]="employee.person.phone"
          name="phone"
        />
      </mat-form-field>
    </section>
    <section class="centered-column">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [readonly]="!isAdmin"
          [(ngModel)]="employee.person.email"
          name="email"
        />
      </mat-form-field>
    </section>
  </div>
  <div class="box-info">
    <h3 class="box-header">Work information</h3>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Faculty</mat-label>
        <mat-select
          [(value)]="employee.faculty.facultyId"
          [placeholder]="employee.faculty.facultyName"
          name="faculty"
        >
          <mat-option
            *ngFor="let faculty of faculties"
            [value]="faculty.facultyId"
          >
            {{ faculty.facultyName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section>
      <mat-label>Ranks</mat-label>
      <mat-select [(ngModel)]="employee.employeeId" name="working">
        <mat-option
          *ngFor="let work of employee.working"
          [value]="work.workingId"
        >
          {{ work.rank.rankName }} {{ work.issuedYear }}
        </mat-option>
      </mat-select>
    </section>
    <section class="centered-column">
      <mat-form-field appearance="outline">
        <mat-label>CarrerInfo</mat-label>
        <textarea
          matInput
          [(ngModel)]="employee.careerInfo"
          name="careerInfo"
        ></textarea>
      </mat-form-field>
    </section>
    <button
      type="submit"
      *ngIf="isAdmin"
      class="button centered-column"
      (click)="onUpdate()"
    >
      Update changes
    </button>
  </div>
</form>
