p::first-letter {
  font-size: 18px;
  font-weight: bold;
}

.container {
  width: 800px;
  margin: 0 auto;
}

/* PAGE SECTION */

.section-info {
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

/* SECTION TEXT */
.section-text {
  padding: 0 20px;

  P {
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0;
  }

  li {
    line-height: 1.8;
  }
}

/* SECTION BOX */
.section-box {
  img,
  a {
    display: block;
    margin: auto;
  }
}

/* LINK CSS */
a {
  &:link,
  &:visited {
    color: #444;
    font-weight: bolder;
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.section-text h3 {
  font-size: 32px;
  font-weight: 700;
}
