<section class="section-info">
  <div class="section-text">
    <h3>Спеціальності</h3>
    <p>
      Запрошуємо вас переглянути список усіх спеціальностей нашого університету.
      Тут ви зможете знайти усю необхідну інформацію про бажану спеціальність:
    </p>
    <ul>
      <li>Ступінь навчання, галузь, факультет</li>
      <li>Кількість бюджетних та контрактних місць; вартість навчання</li>
      <li>Складові конкурсного балу</li>
      <li>Статистика за минулі року та багато іншого</li>
    </ul>
  </div>
  <div class="section-box">
    <img src="" width="200" height="200" />
    <a class="section-link" href="#">Переглянути спеціальності</a>
  </div>
</section>
<section class="section-info">
  <div class="section-text">
    <h3>Викладачі</h3>
    <p>
      У розділі <em>"Викладачі"</em> ви можете переглянути інформацію про
      кожного викладача нашого університету, його звання та факультет.
    </p>
  </div>
  <div class="section-box">
    <img src="" width="200" height="200" />
    <a class="section-link" routerLink="/employees" href="#"
      >Переглянути список викладачів</a
    >
  </div>
</section>
