.calculate-competitive-score {
  font-family: "Nunito", "sans-serif";
  font-weight: bolder;

  ul {
    li {
      @apply my-4 text-base;
    }
  }
}

.compare-competitive-score {
  @apply my-4 text-base text-center;
}

.competitive-score-result {
  @apply my-4 text-base text-center;
}

.speciality-competitive-score {
  background-color: #eee;
  @apply flex gap-3 justify-around p-3 my-4;
}

h3 {
  @apply my-4 text-2xl text-center;
}

input {
  @apply float-right w-[25%] text-center;
}
