<div class="speciality-competitive-score">
  <div class="calculate-competitive-score">
    <h3>Calculate Competitive Score</h3>
    <form
      [formGroup]="calcCompetitveScoreForm"
      (ngSubmit)="calculateCompetitiveScore()"
    >
      <ul *ngIf="coefficients">
        <li class="form-group">
          <mat-label for="firstNumber"
            >{{ coefficients[0].eie.eieName }}:</mat-label
          >
          <input
            type="text"
            formControlName="firstNumber"
            id="firstNumber"
            required
            coefficientNumberIsValid
          />
          <mat-error
            *ngIf="
              !FirstNumber.valid && (FirstNumber.dirty || FirstNumber.touched)
            "
          >
            <div *ngIf="FirstNumber.hasError('forbiddenNumber')">
              The number should be greater than 100 and less than 200
            </div>
          </mat-error>
        </li>
        <li class="form-group">
          <mat-label for="secondNumber"
            >{{ coefficients[1].eie.eieName }}:</mat-label
          >
          <input
            type="text"
            formControlName="secondNumber"
            id="secondNumber"
            required
          />
        </li>
        <mat-error
          *ngIf="
            !SecondNumber.valid && (SecondNumber.dirty || SecondNumber.touched)
          "
        >
          <div *ngIf="SecondNumber.hasError('forbiddenNumber')">
            The number should be greater than 100 and less than 200
          </div>
        </mat-error>
        <li class="form-group">
          <mat-label for="thirdNumber"
            >{{ coefficients[2].eie.eieName }}:</mat-label
          >
          <input
            type="text"
            formControlName="thirdNumber"
            id="thirdNumber"
            required
          />
          <mat-error
            *ngIf="
              !ThirdNumber.valid && (ThirdNumber.dirty || ThirdNumber.touched)
            "
          >
            <div *ngIf="ThirdNumber.hasError('forbiddenNumber')">
              The number should be greater than 100 and less than 200
            </div>
          </mat-error>
        </li>
      </ul>
      <div class="form-group">
        <button
          class="app-button"
          type="submit"
          [disabled]="!calcCompetitveScoreForm.valid"
        >
          Calculate Your Competitive Score
        </button>
      </div>
    </form>
    <div *ngIf="competitiveScoreIsCalculated" class="competitive-score-result">
      <p>Result: {{ calculateApplicantCompetitiveScore }}</p>
      <button class="app-button" (click)="closeCalculateResult()">
        Undertand
      </button>
    </div>
  </div>

  <div class="compare-competitive-score">
    <div class="raw">
      <h3>Compare your competitive score with others</h3>
      <div style="margin-bottom: 25px">
        <label>Compare your competitive score with others</label>
        <input
          type="text"
          id="competitiveScoreValue"
          name="competitiveScoreValue"
          pattern="1[0-9]{2}|200"
          required=""
          #competitiveScoreValue="ngModel"
          [(ngModel)]="compareApplicantCompetitiveScore"
        />
      </div>
      <mat-error
        *ngIf="
          !competitiveScoreValue.valid &&
          (competitiveScoreValue.dirty || competitiveScoreValue.touched)
        "
      >
        The number should be greater than 100 and less than 200
      </mat-error>
      <button class="app-button" (click)="compareCompetitiveScore()">
        Start the test
      </button>
    </div>
    <div class="competitive-score-result" *ngIf="showCompetitiveScoreStatistic">
      <p>
        number of submitted applications:
        {{ competitiveScoreStatistic.totalApplicantsCount }}
      </p>
      <p>
        Average competitive score
        {{
          competitiveScoreStatistic.averageCompetitiveScore | number : "1.0-1"
        }}
      </p>
      <p>
        your rating among applicants:
        {{ competitiveScoreStatistic.applicantCompetitiveScorePosition }}
      </p>
      <button class="app-button" (click)="closeCompareResult()">
        Undertand
      </button>
    </div>
  </div>
</div>
